<form class="login" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <div class="logo">
    <img src="./assets/icons/icon.svg">
  </div>
  <div>
    <label> <span>Email address</span>
      <input placeholder="Email" formControlName="email">
    </label>
  </div>
  <div>
    <label> <span>Password</span>
      <input placeholder="Password" type="password" formControlName="password">
    </label>
  </div>
  <div>
    <button><span>Sign In</span></button>
  </div>
  <div class="error-message" *ngIf="errorMessage">
    <span >{{errorMessage}}</span>
  </div>
</form>
