.project:hover {
  box-shadow: 0 0 2px 4px rgba(192, 192, 192, 0.25);
}

.project {
  background-color: black;

  color: #FFFFFF;
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
