.tracker-page {
  height: 100vh;
}

.projects-page {
  width: 90vw;
  height: 100vh;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-header {
  padding: 15px 10px 5px;
  display: flex;
  justify-content: space-between;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  color: #AD262D;
}

.project-cards {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  app-project-card:hover {
    cursor: pointer;
  }
}

.logout {
  background: #BDBDBD;
  box-shadow: inset 0 6px 5px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  border: none;

  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;

  margin: 10px;
  width: 120px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }

  &:active, &:focus {
    outline: none !important;
  }

  &:active {
    box-shadow: 0 6px 5px rgba(255, 255, 255, 0.3);
  }
}


