:host {
  height: 600px;
}

.login-page {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url(../assets/img/login-bg.png) no-repeat fixed center;
  background-size: cover;
}

.inner-pages {
  background: #E5E5E5;
}

