<div class="time-tracker-wrapper">
  <div class="title">
    <div class="cancel-button" (click)="endWorkTime()"></div>
    <div>{{project.title}}</div>
  </div>
  <hr>
  <div class="session">
    <div>
      <span>Current</span>
      <h2>{{workTime - (3 * 1000 * 60 * 60) | date : 'HH:mm:ss'}}</h2>
    </div>
    <div class="toggle">
      <mat-slide-toggle [color]="'warn'" (change)="onSlideChange()"><span>{{isWorking ? 'Stop' : 'Start'}}</span>
      </mat-slide-toggle>
    </div>
  </div>
  <div class="info">
    <div>
      <p>Today</p>
      <h4>{{workTimeService.today + workTime - (3 * 1000 * 60 * 60) | date : 'HH:mm'}} hrs</h4>
    </div>
    <div>
      <p>This week</p>
      <h4>{{workTimeService.week + workTime - (3 * 1000 * 60 * 60) | date : 'HH:mm'}} of {{project.hoursPerWeek}} hrs</h4>
    </div>
  </div>
  <div *ngIf="lastScreenshot">
    <div>
      <p>Last screenshot - {{lastScreenshot.dateCreated | date : 'short' || ''}} </p>
    </div>
    <div>
      <img style="width: 100%" [src]="lastScreenshot.link">
    </div>
  </div>
</div>
